/*white #e7d9b5*/
/*red color #df2f60*/
.info{
	background-color: #e7d9b5;
}
body{
	font-family: 'Mr Dafoe', cursive;
	color:#e7d9b5;
}
.primary-color{
	color: #df2f60;
}
.sec-color{
	color: #fff;
}
.info h2{
	word-spacing: 0.6rem;
}
.info a{
	transition: color ease-in-out 2s;
}
.info a:hover{
	color:#242424;
}
/*#############header##################*/
#header{
	min-height: calc(100vh - 94px);
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background.jpeg);
	background-position: center;
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 4s;
	animation-name: fade;
	animation-duration: 4s;
	animation-delay: 4s;
	z-index: 10;
	transition: all 2s ease;
}
header .overlay{
	transition: .5s ease;
  	opacity: 0;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
}

@-webkit-keyframes fade{
	from{opacity:.3}
	to{opacity:.8}
}

@keyframes fade{
	from{opacity:.3}
	to{opacity: .8}
}
.height-90{

	min-height: calc(100vh - 94px);
}
.banner h1{
	border-top: 6px dotted #e7d9b5;
	border-bottom: 6px dotted #e7d9b5;
	animation:fromleft;
	animation-duration: 3s;
	animation-delay: 2s;
	opacity: 0;	
	animation-fill-mode: forwards;
}
.banner h2{
	animation:fromleft;
	animation-duration: 3s;
	animation-delay: 2s;
	opacity: 0;	
	animation-fill-mode: forwards;
}

@keyframes fromleft{
	0%{
		transform: translateX(-100px);
		opacity: 0;
	}
	50%{
		transform: translateX(30px);
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}





.main-btn{
	color:#df2f60;
	font-size: 2rem;
	border:2px solid #df2f60;
	transition:all 1s ease-in-out;
	word-spacing: 0.6rem;
	z-index: -4;
}
.main-btn:hover{
	color: #242424;
	border:2px solid #df2f60;
	background: #e7d9b5;
}

.order-btn{
	animation: fromRight;
	animation-duration: 3s;
	animation-delay: 2s;
	opacity: 0;	
	animation-fill-mode: forwards;

}
@keyframes fromRight{
	0%{
		transform: translateX(100px);
		opacity: 0;
	}
	50%{
		transform: translateX(-30px);
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}
.header-link{
	display: inline-block;
	position: absolute;
	bottom:5%;
	left: 50%;
	background: #e7d9b5;
	border-radius: 10px;
	transition: all 2s ease;
	animation-name: fromBottom;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
.header-link:hover{
	color: #242424;
}
@keyframes fromBottom{
	0%{
		transform: translateY(-10px);
	}
	50%{
		transform: translateY(10px);
	}
	100%{
		transform: translateY(-10px);
	}
}
/*##########################navbar####################*/
.navbar{
	background: #e7d9b5;
	padding:20px 20px;
	transition: all 1s ease; 
}
.navbar-background{
	padding:5px 20px;
}
.navbar-brand{
	font-size: 30px;
}
.navbar-brand:hover{
	color:#242424;
	transition: all 1s ease; 
}
.nav-link{
	color:#242424;
	text-decoration: none;
	transition: all 2s ease;
	font-size:23px;
}
.nav-link:hover{
	color: #df2f60;
}
.nav-btn{
	background: transparent;
	color:#df2f60;
	border:2px solid #df2f60;
	font-size: 23px;
	transition: all 2s ease;
}
.nav-btn:hover{
	color:#242424;
	border:2px solid #242424;
	transform:rotate(10deg);
}
.toggler-btn{
	border:2px solid #df2f60;
	padding:5px;
	transition: all 2s ease;
}
.bar{
	width:30px;
	height: 3px;
	margin:5px;
	background: #df2f60;
	transition:all 0.5s ease;
}
.change .bar1{
	transform: rotate(-45deg) translate(-5px,6px);
}
.change .bar2{
	opacity: 0;
}
.change .bar3{
	transform: rotate(45deg) translate(-5px,-8px);
}

/*#######################menu items###########################*/
#special-items{
	margin-top:0;
}
.item-container{
	position:relative;
	/*for the link*/
	overflow: hidden;
	background: linear-gradient(rgb(151, 15, 15),rgb(40, 40, 40));
	transition: all 2s ease; 
}

.item-img{
	transition: all 2s ease;
}
.item-container:hover .item-img{
	transform:scale(1.2);
	opacity: 0.5;
}

.item-link{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #242424;
	font-size:1.5rem;
	transition:all 2s ease;	
	font-family: 'Yesteryear', cursive;
	border-bottom:3px solid #df2f60;
	border-top:3px solid #df2f60 ;
	opacity: 0;
}

.item-container:hover .item-link{
	opacity:1;
}
.item-link:hover{
	color:#e7d9b5;
	border:3px solid #e7d9b5;
	background: #e7d9b5;
	color:#242424;
}
.item-container:hover{
	outline: 10px solid #df2f60 ;
	outline-offset: 0.8rem; 
}
/*######################menu################*/
#menu{
	padding: 1.5rem;
	background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(../images/main3.jpg)center/cover fixed no-repeat;
}
.special{
	border:3px solid #df2f60;
	position:relative;
}

.special-text{
	position:absolute;
	top:0;
	right:10%;
	background: #df2f60;
	padding:0 0.4rem;
}
.text-size{
	font-size: 25px;
}
/*##################about#####################*/
#about{
	color:#242424;
	font-family: serif, cursive;
}
.about-pictures{
	position: relative;
}
.about-image{
	position: absolute;
	width: 150px;
	transition: all 2s ease;
	opacity: 0.9;
}
.img-1{
	left: 0%;
	top:0%;
}
.img-2{
	left:20%;
	top:20%;
	z-index: 10;
}
.img-3{
	left:40%;
	top:45%;
	z-index: 20;
}
.img-4{
	left:40%;
	top:0%;
}
.img-5{
	left:0%;
	top:45%;
}
.about-image:hover{
	outline: 3px solid #df2f60;
	outline-offset: 0.2rem;
	transform: scale(1.3) rotate(20deg);
	z-index: 30;
	opacity: 1;
}
.about-pictures:hover .about-image:not(:hover){
	opacity: 0.5;
}

/*################review##################################*/
#reviews{
	padding: 1.5rem;
	background: /*linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)),*/ url(../images/main3.jpg)center/cover fixed no-repeat;
}
.review-item{
	background: rgba(255,255,255,0.7);
    clip-path: polygon(5% 0, 100% 0, 90% 100%, 0 100%);

}
.review-img{
	width: 120px;
}
/*#################team###########################*/
/*.img-team{
	width:300px;
	height:400px;
}*/
#team{
/* 	padding: 1.5rem; */
	background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(../images/main3.jpg)center/cover fixed no-repeat;
}
.team-icons{
	color: #3b5998;
	transition: all 2s ease-in-out;
}
.team-icons:hover a{
	color: #242424;
	transform:translateY(-5px);
}
.insta-color{
	border-color: white;
	color:#df2f60;
}
/*########################contact#########################*/
.height-60{
	min-height:60vh;
}
#contact{
	padding: 1.5rem;
	background: url(../images/main3.jpg)center/cover fixed no-repeat;
}
#contact .card{
	background: rgba(0,0,0,0.5);
	transition: all 2s ease;
}
#contact .card:hover{
	background: rgba(0,0,0,0.8);
}
#contact .card-header{
	color: #df2f60;
}

#contact .input-group-text{
	background: #df2f60;
	border-color: #df2f60;
	color:#242424;
}
#contact .input{
	color:#606060;
}
#contact .input:placeholder{
	color:#606060;
}
.contact-btn{
	color:#df2f60;
	border-color: #df2f60;
	background: transparent;
	transition: all 2s ease-in-out; 
}
.contact-btn:hover{
	background: #c9c1ac;
	color:#df2f60;
	border-color: #c9c1ac;
}
.input-pad{
	padding: .5rem;
}
/*#########################footer#############*/
#back-to-top{
	background: #e7d9b5;
	border-radius: 10px;
	display:inline-block;
	font-size: 12px;
}
.scrollTop{
	position: fixed;
	bottom: 50px;
	right: 10px;
}
